.imageContainer {
  .caption {
    color: #6b6b6b;
    display: block;
    font-size: 14px;
    margin-top: 5px;
  }
}

.mobileGallery {
  .mobileCaption {
    color: #6b6b6b;
    display: block;
    font-size: 14px;
    margin-top: 5px;
  }
}
