.inputBox {
  padding-bottom: 16px;
  display: flex;


  @media (max-width: 768px) {
    flex-wrap: wrap;
  }

  .title {
    margin-bottom: 0.5em;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 30%;
    min-width: 160px;
    svg {
      margin-left: 9.5px;
    }
  }
  .inputContainer {
    outline: none;
    position: relative;

    width: 70%;
    border: 2px solid #c8c8d0;
    height: 40px;

    @media (max-width: 768px) {
      width: 100%;
    }

    &:hover {
      border: 2px solid rgba(254, 80, 79, 0.3);
    }
    &:focus-within {
      border: 2px solid #fe504f;
    }
    .input {
      padding: 8px 16px;
      width: 100%;
      background: transparent;
      border: 0;

      font-size: 14px;

      &:hover,
      &:focus,
      &:active {
        border: 0;
        background: transparent;
        outline: none;
      }
    }
  }
  .inputContainerValid {
    border-color: #219653;
    background: #f7fdf9;
  }
  .inputContainerError {
    border-color: #fe504f;
    background: #ffffff;
  }
  .validationIcon {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 20px;
    top: calc(50% - 10px);
  }
  .selectValidationIcon {
    right: 40px;
  }
}
.tooltipContainer {
  background: #000;
  color: #fff;
}
