.usp {
  align-items: center;
  color: #3B3B3B;
  display: flex;
  padding: 7px 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
  min-height: 52px;

  .uspDescriptionBlock {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    height: 100%;
  }

  .uspLabel {
    padding: 0;

    @media (max-width: 512px) {
      font-size: 14px;
      color: #3B3B3B;

    }
  }

  .uspDate{
    margin-left: 4px;
    @media (max-width: 1024px) {
    font-size: 14px;
    }
  }
}
