.calendar {
  margin-top: 10px;
}
.container {
  user-select: none;
  @media (max-width: 768px) {
    max-width: 210px;
    min-width: 25%;
    text-align: left;
    max-width: 100%;
    width: 100%;
    display: inline-block;
    padding: 12px 0;
  }

  .title {
    @media (max-width: 768px) {
      display: inline-block;
      margin-right: 16px;
      h1 {
        display: inline;
        font-size: 16px;
      }
    }
    &>div {
      display: none !important;
      width: 22px !important;
      height: 22px !important;
      margin-right: 10px;
      margin-bottom: -3px;
      @media (max-width: 768px) {
        display: inline-block !important;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    margin: 20px 0 10px 0;
    align-items: flex-start;
    @media (max-width: 768px) {
      flex-direction: row;
      align-items: stretch;
      button {
        width: 50% !important;
        &[aria-pressed=true] {
          background-color: chocolate !important;
        }
      }
    }

    button {

      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #003049;
      padding: 6px 8px;
      border-width: 1px;
      border-style: solid;
      background-color: #fff;
      border-radius: 15px;
      transition-duration: .2s;
      margin: 0 10px 5px 0;
      width: 100%;
      &[aria-pressed=true] {
        color: #fff;
        background-color: #003049;
      }
    }
  }

  a {
    color: chocolate;
    text-decoration: underline;
  }

}

.closeIcon {
  background: none;
  border: none;
  padding: 0;
  font-size: 32px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
}
